* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-left {
    display: flex;
}

.form {
    display: flex;


}

.input {
    margin: 0;
}
.form input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-width: .5px;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 300px;
    height: 38px;
    outline:none;
    cursor: line;
    padding-left: 25px;
    padding-right: 25px;
}

.form button {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: .5px;
    border-width-left: none;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 37px;
    height: 38px;
    outline:none;
    cursor: pointer;
}

.button-form {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    margin-left: 30px;
    outline:none;
    cursor: pointer;
}

.button-form:hover {
    box-shadow: 1px 0 6px 0 #ccc;
} 

.button-form i {  
    font-family: FontAwesome;
    color:  #838383;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.button-form pre {
    text-align: center;
    font-family: Lato;
    color:  #222222;
    font-size: 14px;
    font-weight: 300;
}

.logo {
    display: flex;
    align-items: center;
    font-family: Lato;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
}

.logo span {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}

.logo > img {
    margin-right: 13px;
}

.header-right {
    display: flex;
}

.header-right a {
    text-decoration: none;
}

.header-right img {
    margin-right: 26px;
}

button:hover {
    box-shadow: 1px 0 6px 0 #ccc;
}

.button-account {
    display: block;
    background-color:  #f16d7f;
    width: 130px;
    height: 38px;
    text-decoration: none;
}
.button-account:hover {
    border: 1px solid #f16d7f;
    width: 128px;
    height: 36px;
    background-color:  #fff;
    transition: .3s;
}

.button-account pre:hover {
    color:   #f16d7f;
    transition: .3s;
}

.button-account pre {
    font-family: Lato;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    list-style-type: none;
    position: relative;
}

.menu > li:hover .mega-box {
    display: flex;
}

.menu > li > a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 20px 20px;
}

.menu a:hover {
    color: #ef5b70;
}

.menu .menu-active:hover {
    color: #222222;
}

.menu .menu-active {
    padding-bottom: 17px;
    border-bottom: 3px solid #ef5b70;
}

.mega-box:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -9px;
    left: 35px;
    transform: rotate(39deg) skewX(-15deg);
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.mega-box {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 20px 20px;
    position: absolute;
    display: none;
    border: 1px solid #e6e6e6;
    top: 51px;
    left: -9px;
}

.mega-flex {
    margin-right: 30px;
}

.mega-flex:last-of-type {
    margin-right: 0;
}

.mega-flex h3 {
    padding-bottom: 8px;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mega-list a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.picture {
    height: 100%;
    width: 1600px;
    background: url(../img/Layer41.png) no-repeat;
    margin-top: 97px;
    opacity: 0.7;
    border-bottom-right-radius: 30%;
    box-shadow: -100px 0 100px -26px #e7e7e7 inset;


}
.bcg {
    background-color: #e7e7e7;
    height: 438px;
    min-width: 1600px;
     position: relative;
}
.avatar {
    position: absolute;
    top:111px;
    display: flex;
    height: 83px;

}
.txt {
    height: auto;
    width: 396px;
    margin-left: 29px;
    font-family: Lato;
    color:  rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: left;
}
.bottom-txt {
    margin-top: 19px;
    font-family: Lato;
    color:  #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    font-style: normal;
}

.bottom-txt span {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.button-bottom {
    display: flex;
}
.button-mini:first-child {
    background-color: #f16d7f;
}
.button-mini {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-top: 41px;
    margin-right: 13px;
    cursor: pointer;
    transition: .3s;
}

.button-mini:hover {
    background-color: #f16d7f;
    transition: .3s;
}

.subscribe {
    margin-left: 165px;
    font-family: Lato;
    color:  rgba(34, 34, 36, 0.67);
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}
.subscribe span {
    font-family: Lato;
    color:  rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.form2 {
    display: flex;
}
.form2 input {
    padding-left: 35px;
    padding-right: 25px;
    margin-top: 35px;
    width: 334px;
    height: 46px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    box-sizing: border-box;
    background-color:  #e1e1e1;
    outline: none;
    text-align: center;
}  
.button-form2 {
    margin-top: 35px;
    background-color:  #f16d7f;
    width: 104px;
    height: 46px;
    font-family: Lato;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}  

.button-form2:hover {
    border:1px solid #f16d7f;
    background-color:  #fff;
    color:  #f16d7f;
    width: 102px;
    height: 44px;
    transition: .3s;
}

.form2 > a {
    text-decoration: none;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}
.set1, .set2 {
    margin-top: 109px;
    margin-bottom: 89px;
    height: 226px;
}
.set1 {
    height: auto;
    width: 427px;
    font-family: Lato;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 16px;
}
.set1 img {
    margin-right: 13px;
}

.set1 span {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
}

.set1 p {
    margin-top: 29px;
    font-family: Lato;
    color:  #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.set2 {
    width: 154px;
}
.set2 p {
    font-family: Lato;
    color:  #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 42px;
}

.set2 a {
    text-decoration: none;
    font-family: Lato;
    color:  #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    transition: .2s
}

.set2 a:hover {
    color:  #f16d7f;
    transition: .2s
}

.bottom-footer {
    margin-top: 89px;
    align-items: center;
    display: flex;
    height: 79px;
    background-color: #e6e6e6;;
}
.block-cart {
    background: #00000099;
    min-height: 150px;
    width: 230px;
    border: 1px solid #000;
    position: absolute;
    left: -100px;
    top: 35;
    display: none;
    z-index: 111;
}

.wrapper-cart {
    position: relative;
}

.base-txt {
    margin: 20px 52px 20px 52px;
    color: #fff;
}

.buyBtn {
    height: 35px;
    width: 150px;
    border: 1px solid #ccc;
    margin: 0 40px 10px 40px;
    background: #ffffff00;
    color: #fff;
    box-sizing: border-box;
    padding-top: 6px;
    text-align: center;
}

.buyBtn:hover {
    border: 1px solid #f16d7f;
    background: #ffffff10;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.wrapper-cart:hover .block-cart {
    display: block;

}
.qnt {
    width: 20px;
    height: 20px;
    background: #f16d7f;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -7px;
    right: 17px;
    font-weight: 900;
}
.prod {
    display: flex;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.goods {
    margin: 10px;


}

.goods > .prod > img {
    width: 60px;
    height: 70px;
    margin-bottom: 5px;
}

.goods > .prod > p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}

.goods > .prod > p > span {
    color: #f16d7f;
    font-size: 12px;
}

.close {
    margin-top: 15px;
    margin-left: 20px;
}

.close > i:hover {
    cursor: pointer;
}

.total-price-mini-cart {
    display: flex;
    justify-content: space-between;
    width: 210px;
    color: #fff;
    margin: 0 10px 10px 10px;
}

.total-price-mini-cart > span {
    color: #f16d7f;
    font-size: 16px;
}
.bottom-footer-left {
    font-family: Lato;
    color:  #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}
.container1 {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}

.bottom-footer-right a {
    margin-right: 8px;
    font-family: FontAwesome;
    color:  #b2b2b2;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    transition: .2s;
}

.bottom-footer-right a:hover {
    color: #f16d7f ;
    transition: .2s;
}
